/*
   Header
   ========================================================================== */
.site-header {
    border-bottom: 8px solid $topbar-link-bg-hover;
    .main-navigation {
        .dropdown {
            li:not(.has-form) a:not(.button) {
                line-height: 45px;
            }
        }
    }
    .connections-list {
        float: right;
        li:not(.has-form) a:not(.button) {
            padding: 0 15px;
            &:hover {
                background: $topbar-bg-color;
            }
        }
    }
    .admin-bar &.fixed {
        top: 32px;
        @media screen and (max-width: 782px) {
            top: 46px;
        }
    }
}
